@font-face {
    font-family: 'Montserrat-regular';
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Monsterart-bold';
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}